<footer class="footer">
<small>
<a href="http://localhost:3000">Home</a>

</small>
<nav>
<ul>
	<li><%= link_to "Documentation", documentation_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
	<li><% href="http://www.six3esd.com/">Six3ESD</a></li>
</ul>
</nav>
</footer>
