<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<%= link_to "Rallypoint", '#', id:"logo" %>
<nav>
<ul class="nav pull-right">
<li><%= link_to "Home",	'#' %></li>
<li><%= link_to "Add Sub", '#' %></li>
<li><%= link_to "Help",	'#' %></li>
</ul>
</nav>
</div>
</header>
